GCP_PROJECT=webeye-internal-test
GCS_BUCKET=bqca-results
BQCA_SUPPORT_SERVICE_ACCOUNT=bqca-restricted@webeye-internal-test.iam.gserviceaccount.com

# 1. 电商飞书机器人 + 电商 BQCA Agent (全球区)
CA_AGENT_ID=ecommerce-analyst-cn
CA_LOCATION=global
FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_VERIFICATION_TOKEN=
FEISHU_ENCRYPT_KEY=

# 2. 游戏飞书机器人 + 游戏 BQCA Agent (美区)
GAME_CA_AGENT_ID=agent_68092f81-2c23-4c6a-aa4c-633df98549f0
GAME_CA_LOCATION=us
GAME_FEISHU_APP_ID=
GAME_FEISHU_APP_SECRET=
GAME_FEISHU_VERIFICATION_TOKEN=
GAME_FEISHU_ENCRYPT_KEY=
